-->
        .blog{
            background-color: aquamarine;
            border: 15px solid tomato;
            border-radius: 10px;
            border-top: 20px solid orange;
            margin: 10px 20px;
            padding: 15px 8px 5px;
            text-align: justify;
            height: auto;
            width: 80%;
        }
        h3{
    
            color: rgb(0, 0, 255);
            font-size: 1.5em;
            text-align: center;
            text-decoration: underline;
            font-family: 'Courier New', Courier, monospace;
        }
        /* .second{
            display: none;
            visibility: hidden;
        } */
        .shadow{
            margin: 40px;
            box-shadow: 10px 15px 20px rgba(192, 47, 194, 0.785);
        }
        *{
            margin: 0;
        }
        p{
            font-family: 'Courier New', Courier, monospace;
        }
